[build-system]
requires = [
    "hatchling<=1.21.0",
    "setuptools-git-versioning",
]
build-backend = "hatchling.build"

[tool.setuptools-git-versioning]
enabled = true

[project]
name = "{{projectname}}"
dynamic = ["version"]
description = "{{description}}"
readme = "README.md"
authors = [{name = "EasyScience contributors"}]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
{%- for version in range(min_python.split(".")[1] | int, max_python.split(".")[1] | int + 1) %}
    "Programming Language :: Python :: 3.{{version}}",
{%- endfor %}
    "Development Status :: 3 - Alpha"
]
requires-python = ">={{min_python}},<{{max_python}}"
dependencies = [
    "easyScienceCore>=0.3.1",
    "scipp>=23.12.0",
]

[project.optional-dependencies]
dev = [
    "build",
    "codecov>=2.1.11",
    "coverage",
    "coveralls",
    "flake8>=6.0.0",
    "ipykernel",
    "jupyter>=1.0.0",
    "jupyterlab",
    "plopp",
    "pytest>=5.2",
    "pytest-cov>=3.0.0",
    "ruff",
    "toml>=0.10",
    "yapf>=0.31.0",
]
docs = [
    "nbsphinx",
    "sphinx_book_theme",
    "sphinx_autodoc_typehints",
    "toml"
]

[project.urls]
homepage = "https://docs.{{packagename}}.org"
documentation = "https://docs.{{packagename}}.org"

[tool.hatch.version]
path = "src/{{packagename}}/__version__.py"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.sdist]
packages = ["src"]

[tool.hatch.build.targets.wheel]
packages = ["src/{{packagename}}"]

[tool.coverage.run]
source = ["src/{{packagename}}"]

[tool.github.info]
organization = 'easyScience'
repo = "{{packagename}}"

[tool.ruff]
line-length = 127
exclude = [
    "docs",
]

[tool.ruff.format]
quote-style = "single"

[tool.ruff.per-file-ignores]
# allow asserts in test files
"*test_*.py" = ["S101"]

[tool.ruff.lint]
ignore-init-module-imports = true
select = [
    # flake8 settings from existing CI setup
    "E9", "F63", "F7", "F82",
    # Code should be polished to fulfill all cases below
    # https://docs.astral.sh/ruff/rules/
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
#    "UP",
    # flake8-bugbear
#    "B",
    # flake8-simplify
#    "SIM",
    # isort
    "I",
    # flake8-bandit
    "S",
]

[tool.ruff.lint.isort]
force-single-line = true

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
{%- set jinja_envlist = [] %}
{%- for version in range(min_python.split(".")[1] | int, max_python.split(".")[1] | int + 1) %}
    {%- set jinja_envlist = jinja_envlist.append("3." + version|string) %}
{%- endfor %}
envlist = py{% raw %}{{% endraw %}{{jinja_envlist|join(",")}}{% raw %}}{% endraw %}
[gh-actions]
python =
    {%- for version in range(min_python.split(".")[1] | int, max_python.split(".")[1] | int + 1) %}
        3.{{version}}: py3{{version}}
    {%- endfor %}
[gh-actions:env]
PLATFORM =
    ubuntu-latest: linux
    macos-latest: macos
    windows-latest: windows
[testenv]
passenv =
    CI
    GITHUB_ACTIONS
    GITHUB_ACTION
    GITHUB_REF
    GITHUB_REPOSITORY
    GITHUB_HEAD_REF
    GITHUB_RUN_ID
    GITHUB_SHA
    COVERAGE_FILE
deps = coverage
commands =
    pip install -e '.[dev]'
    pytest --cov --cov-report=xml
"""
